body {
    background-color: #e6e6e6;
}

/* Start Login page */
.login-page {
    margin-top: 120px;
}

.frm-div {
    background-color: #ffffff;
    border-radius: 5px;
}

.frm-div .panel-heading {
    padding: 10px 30px;
    background-color: #bfbfbf;
    border-radius: 5px;
}

.frm-div .panel-body {
    padding: 30px;
}

.frm-div .panel-body {
    width: 100%;
} 

/* End Login page */
